.wrapper {
  background-color: aquamarine;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 10px;
}

.top {
  background-color: azure;
  height: 50vh;
  width: 50%;
  border: solid black 3px;
}

.info {
  margin: -32% 0 0 36%;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
}

.picture1 {
  width: 35%;
  height: 50%;
}

.description {
  font-family: "Dosis", sans-serif;
  margin: 1% 0 0 36%;
}

.coninfo {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 25px;
}

.myself {
  text-align: center;
  font-size: 35px;
  font-family: "Dosis", sans-serif;
  justify-content: center;
}

.aboutme {
  font-family: "Dosis", sans-serif;
  font-size: 25px;
}

.skills {
  margin: 2% 0 0 0;
  font-size: 40px;
  font-family: "Dosis", sans-serif;
}

.contactinfo {
  margin: 10% 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  height: 10vh;
}

.github,
.number,
.facebook {
  color: white;
  font-family: "Dosis", sans-serif;

}
.main{
  padding: 10px;
}
li{
 font-size: 25px;
}
span{
  color: firebrick;
}